/* Global */
:root {
  /* Color */
  --color-text: white;
  /* Size */
  --size-max-width: 1200px;
}

/* Common */
.section {
  padding: 0.3rem;
  /* text-align: center; */
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

.header {
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.header__logo__netflix {
  margin: 0;
  padding: 0;
  max-width: 100px;
  height: auto;
}

.header__logo__user {
  max-width: 50px;
}

/* .banner {
  width: 100%;
  height: 25rem;
  background-image: url("../images/banner.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 7rem 1rem;
} */

.banner {
  position: relative; /* 의사 요소의 위치를 정하기 위해 relative 설정 */
  width: 100%;
  height: 25rem;
  background-image: url("../images/banner.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 7rem 1rem;
  overflow: hidden; /* 추가된 그림자가 배너 바깥으로 나가지 않도록 함 */
}

.banner::after {
  content: ""; /* 내용이 필요 없으므로 빈 문자열 설정 */
  position: absolute; /* 배너에 대해 절대 위치 설정 */
  left: 0;
  right: 0;
  bottom: 0;
  height: 10rem; /* 그림자의 높이 설정 */
  background: linear-gradient(
    to bottom,
    transparent,
    black
  ); /* 상단은 투명, 하단은 검은색으로 그림자 효과 생성 */
}

.banner__title {
  font-size: 2.5rem;
  color: var(--color-text);
}

.banner__synopsis {
  margin-top: 1rem;
  font-size: 1rem;
  color: var(--color-text);
  font-weight: bold; /* 텍스트를 굵게 설정 */
  width: 25rem;
}

.button {
  background-color: rgba(128, 128, 128, 0.5); /* grey 색상에 반투명도를 적용 */
  color: var(--color-text); /* 텍스트 색상을 흰색으로 설정 */
  font-weight: bold; /* 텍스트를 굵게 설정 */
  width: 90px;
  height: 25px;
  margin-right: 0.5rem;
  border-radius: 2px;
  border: none; /* 테두리를 없애고 싶다면 이렇게 설정 */
  opacity: 1; /* 버튼의 불투명도를 기본값(1)으로 설정 */
  display: inline-block;
  text-align: center;
  line-height: 20px; /* 버튼 내부의 텍스트 라인 높이를 버튼 높이와 동일하게 설정 */
  cursor: pointer; /* 마우스 오버 시 커서를 포인터로 변경 */
  transition: background-color 0.3s ease; /* 배경 색상 변경 시 애니메이션 효과 */
}

.button:hover {
  background-color: rgba(128, 128, 128, 0.7); /* 마우스 오버 시 반투명도 증가 */
}

#netflix_originals {
  background-color: black;
}

.title {
  color: white;
  margin-bottom: 1rem;
}

.series {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(1, 1fr);
  margin: 0rem 1.5rem;
  gap: 1rem;
}

.series__card {
  position: relative;
}

.card__img {
  width: 80%;
  height: 15rem;
  transition: transform 0.3s ease;
}

.card__img:hover {
  transform: scale(1.1);
}

#trending {
  background-color: black;
}

@media screen and (max-width: 968px) {
  .series {
    grid-template-columns: repeat(4, 1fr);
  }
}
